// ========== footer ========== //

footer {
    text-align: center;
    font-size: 1rem; 
    background: $color-black;
    color: white; 
    padding: 0 25px; 
    a, 
    a visited {
        color: white; 
    } 
    a:focus, 
    a:hover {
        color: $color-aqua; 
        border-bottom: 2px solid $color-aqua; 
        transition: all 0.2s; 
    } 
}