// color palette 
$greenishCyan: #50E3C2; 
$black: #2C2C2C; 
$iceBlue: #FAFFFE; 
$twilightBlue: #063974; 
$lightLightBlue: #D2F9F1; 
$spruce: #0C5F4C;


.mainHeader,
.blogHeader,
.contactHeader { 
    background-size: cover;
    background-repeat: no-repeat;
}

.mainHeader,
.guyana,
.imageContainer-2 { 
    position: relative; 
}

.mainHeader { 
    background-image: url(../images/home-image-1.jpg);
    height: 80vh; 
}

.blogHeader,
.contactHeader { 
    height: 75vh; 
}

.blogHeader { 
    background-image: url(../images/blog-image-1.jpg);
}

.contactHeader { 
    background-image: url(../images/contact-image-1.jpg);
}

.navContainer,
.navContainer ul,
.titleContainer,
.blogMain,
.guyana,
.galleryContainer ul,
.information ul,
.planTrip,
.userContainer,
.form,
.formContainer-top,
.fontAwesome ul { 
    display: flex; 
}

.logo { 
    font-size: 1.73rem;
}

.navContainer p, 
.navContainer nav,
.mainContainer { 
    width: 50%; 
}

.navContainer ul,
.galleryContainer ul,
.information li,
.fontAwesome li,
.contactUs li,
.contactUs p { 
    list-style-type: none;
}

.navContainer ul,
.galleryContainer ul,
.information ul,
.fontAwesome ul,
.contactUs ul { 
    padding: 0; 
}

.navContainer ul, 
.information ul { 
    justify-content: space-evenly;
}

.navContainer ul,
.button,
button { 
    letter-spacing: 0.05rem;
}

.navContainer ul { 
    text-transform: uppercase;
}

.titleContainer,
.blogAside { 
    position: absolute; 
}

.titleContainer,
button { 
    width: 100%; 
}

.titleContainer { 
    bottom: -10vh; 
}

.headerImgContainer { 
    width: 35%; 
}

.mainH1 { 
    font-size: 3.1rem; 
    letter-spacing: 0.34px; 
    width: 65%; 
    margin: 100px -100px; 
}

.blogH1,
.contactH1 { 
    font-size: 4.35rem; 
    line-height: 2.9rem;
    letter-spacing: 0.45rem;
}

.blogH1,
.contactH1,
button { 
    color: $iceBlue; 
}

.blogH2,
.mainH1,
.mainH2,
.mainH3,
.blogAside a { 
    color: $spruce; 
}

.blogH2,
.mainH3,
.mainH4 { 
    line-height: 0.29rem;
}

.blogH2,
.mainH3 { 
    letter-spacing: 0.16rem; 
    font-size: 1.5rem; 
}

.blogAside a,
.text p:first-child, 
.contactAside div a { 
    font-weight: bold;
}

.blogH3 { 
    margin-left: 25px; 
}

.mainSpan { 
    display: block; 
    font-size: 5.56rem;
}

span,
.mainH4,
.blogH4,
.timestamp,
.text p:first-child { 
    color: $twilightBlue; 
} 

.button,
button { 
    background-color: $twilightBlue; 
}

.blogH1, 
article, 
.commentContainer,
.blogForm { 
    margin-left: 20%; 
}

.mainH2,
.mainH4 { 
    font-size: 1.75rem; 
}

footer { 
    font-size: 0.75rem;
}

.mainH2,
.mainH4 { 
    letter-spacing: 0.19rem;
}

.mainContainer { 
    margin-top: -50vh; 
}

main p,
footer p,
label, 
input, 
textarea,
article p, 
.text p, 
.blogAside, 
.blogFooter p,
.contactAside { 
    line-height: 1.6rem;
}

.guyana { 
    margin: 15vh auto; 
    padding-top: 50px; 
}

.guyanaTextContainer { 
    width: 70%; 
}

.guyana p { 
    width: 90%; 
}

.button,
button { 
    padding: 10px 15px; 
}

.guyanaImgContainer { 
    width: 30%; 
}

.guyanaImgContainer img { 
    box-shadow: $greenishCyan -25px 25px;
}

.gallery, 
.planTrip { 
    background-color: $lightLightBlue; 
}

.galleryContainer ul li { 
    margin: 2%;  
    width: 33%; 
    padding: 50px 0; 
}

.information { 
    padding: 25px 0; 
    padding-bottom: 75px; 
}

.information li,
.newLocations,
.planAhead,
.box1,
.box2 { 
    width: 45%; 
}

.information .mainH3:before { 
    font-family: 'FontAwesome';
    margin-right: 15px;
}

.information .mainH3:before,
.blogAside li,
textarea:focus + label, 
input:focus + label {
    color: $greenishCyan;
}

.house:before {    
    content: '\f015';
}

.users:before {    
    content: '\f0c0';
}

.copy:before {    
    content: '\f0c5';
}

.phone:before {    
    content: '\f095';
}

.information p { 
    margin-left: 55px; 
}

.planTrip,
.formContainer-top { 
    justify-content: space-between;
}

.newLocations,
.credit { 
    text-align: right;
}

.planAhead { 
    text-align: left;
}

.newLocations .textContainer,
.planAhead .textContainer { 
    margin: 75px 0; 
    margin-right: 25%; 
}

.imageContainer-1 { 
    margin-top: -5%; 
}

.imageContainer-2 { 
    margin-bottom: -5%; 
}

.imageContainer-1 img,
.blogMain .imgContainer img,
.contactForm {
    box-shadow: $greenishCyan 25px 25px;
}

.imageContainer-2 img { 
    box-shadow: $greenishCyan -25px 25px;
}

.freeTrip,
.text,
.contactForm,
.credit { 
    width: 75%; 
}

.freeTrip { 
    text-align: center; 
    padding: 75px; 
}

.profilePic { 
    width: 25%; 
    padding: 25px; 
}

.text { 
    margin-right: 50px; 
}

form {
    padding: 50px; 
    background-color: $iceBlue; 
}

.form {
    flex-flow: column-reverse;
}

label, 
input, 
textarea {
    transition: all 0.2s;
}

label { 
    color: #999;
}

input, 
textarea {
    border: 0;
    border-bottom: 2px solid $greenishCyan;
    padding: 10px; 
    margin: 10px 0; 
}

/***************************************************************************/
textarea:placeholder-shown + label, 
input:placeholder-shown + label {
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1);
}
/* revised snippets from 👇 */
/* title: Floating labels demo - https://codepen.io/team/css-tricks/pen/XVBLRM */
/* author: @thatemil - https://twitter.com/thatemil */

/***************************************************************************/

textarea { 
    resize: none; 
    border: 2px solid $greenishCyan;
    margin-bottom: 50px;
    height: 300px;
}

.credit { 
    font-size: 0.5rem; 
    display: block; 
}

article { 
    box-shadow: $greenishCyan 5px 5px;
    padding: 50px; 
}

article p, 
.text p, 
.blogAside, 
.blogFooter p,
label, 
input, 
textarea,
.contactAside, 
footer p,
main p { 
    letter-spacing: 0.1rem;
}

.blogAside { 
    width: 20%; 
    right: 0; 
    margin-top: 50px; 
}

.blogAside div p { 
    padding-right: 25px; 
}

.contactAside { 
    margin-top: 25vh;
    width: 25%; 
    margin: 50px 75%; 
}

.fontAwesome li { 
    size: 2.5rem;  
    padding: 10px; 
}

.contactUs li,
.contactUs p { 
    padding-left: 10px; 
}