// ========== font family ========== //
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playfair Display SC', serif; 

// ========== color palette ========== //
$color-aqua: #50E3C2; 
$color-black: #2C2C2C; 
$color-whiteish: #FAFFFE; 
$color-darkblue: #063974; 
$color-lightaqua: #D2F9F1; 
$color-green: #0C5F4C;